.heroWrap{
  position: relative;
  height: 100vh;
  background-color: black;
  z-index: -2;
}

.background-video-wrapper {
    color: #fff;
    background: #000;
    text-align: center;
    position:absolute;
    z-index: -2;
}
    video {
      display: flex;
      opacity:.9;
      background: #000;
      height: 95vh;
      width: 100vw;
      top: 0;
      left: 0;
      object-fit: cover;
      /* opacity: 70%; */
      border-bottom: 3px solid var(--primary);
      z-index: -1;
    }

  
  