/* Reservation Section */

cont{
  position: relative;
  display: flex;
  flex: 1;
}
.bookingMain{
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    margin-left: 5rem;
}

.calendar{
  width: 60%;
  position: relative;
  top: 8vh;
}

.mobileBooking{
  background-color: var(--primary);
}

section h1{
  margin: 1rem;
  display: flex;
}

group{
  border: 3px solid black;
  width: 57vw;
  height: fit-content;
}

.resTop{
  display: flex;
  flex-direction: row;
}

.priceBox{
  display: flex;
  flex: 1;
  border: 3px solid black;
  position: relative;
  left: 20%;
  width: 30vw;
  max-height: 50vh;
  margin-top: -45vh;
  opacity: .8;
}

/* .resHead{
  height: 20vh;
  padding: 2em;
  margin-top: 3rem;
  background-color: var(--light);
} */

.bookingCont{
  margin: 3rem;
  display: flex;
  flex-direction: column;
  height: 280px;
  width: 350px;
  margin-top: 58px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  overflow: hidden;
  background-color: white;
  border: 1px solid black;
}

.bookingBox{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 275px;
  width: 350px;
}

.bookingDropdown{
  text-align: center;
  margin: 10px;
  justify-content: space-between;
}
#rooms{
  margin: 5px;
  margin-bottom: 0px;
}

#hiddenBtn{
  opacity: 0;
}

.loginPlsBtn{
  margin-top: 6rem;
  margin-bottom: 10rem;
}