.bnbCont{
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    z-index: 5;
}

.bnbBar{
    display: flex;
    
}
.bnArrival{
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 1.5rem;
}
.bnArrival div {
    color: var(--darker);
    background-color: var(--primary);
    font-size: xx-large;
}
.bnArrival input{
    width: 70%;
    height: 3rem;
    font-weight: 500;
    background-color: var(--primary);
    border: none;
    font-size: medium;
    text-align: center;
}
.bnRooms{
    align-items: center;
    margin: 2rem 0 1rem 0;
    margin-left: -4px;
    
}
.bnRooms select{
    display: flex;
    flex: 1;
    width: 98%;
    height: 3rem;
    font-weight: 500;
    text-align: center;
    background-color:var(--primary);
}
.bnBar button{
    width: 100%;
    margin: 1rem 0;
    font-weight: 500;
    background-color: var(--primary);
    height: 3rem;
}

.bnBar button:hover{
    filter: brightness(150%);
}

.react-calendar {
    width: 25vw;
    max-width: 100%;
    height: 30vh;
    background: var(--primary);
    border: 1px solid #a0a096;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 0em;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 1rem;
    font-size: 12px;
  }
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight:lighter;
    font-size:12px;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__days__day--weekend {
    color: black;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #e6e6e6;
  }
  .react-calendar__tile--now {
    background: #ffff76;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: black;
  }
  .react-calendar__navigation__label {
    font-size: 20px;
}
  .react-calendar__month-view__weekdays__weekday {
    font-size: 8px;
    color:black;
    height: 16px;
    margin: 3px;
}
.react-calendar__tile,
.react-calendar__month-view__days button {
    font-size: 12px;
    height: 25px;
    padding: 2px;
    width: 25px;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button{
    height: 0px;
    max-width: 0px;
    color: white;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next2-button{
    height: 0px;
    width: 0px;
    color: white;
}
.react-calendar__navigation__arrow.react-calendar__navigation__prev-button{
    flex: 4;
    height: 40px;
}
.react-calendar__navigation__arrow.react-calendar__navigation__next-button{
    flex: 4;
    height: 40px;
}
.react-calendar__navigation__label{
    flex-direction: row;
    font-size: 10px;
}
div.react-calendar__navigation{
    height: 20px;
    margin-top: -10px;
}



