.card{
    max-height: 250px;
    padding: .5rem;
    margin: 1.5rem;
    min-width: 53vw;
}
.card img{
    width: 20vw;
}
#roomBtn{
    display: flex;
    position: relative;
    left: 11vw;
    width: 10vw;
    text-align: center;
}
.card h5{
    position: relative;
    font-weight: 700;
    left: 8vw;
    margin-bottom: 1rem;
}