
header {
	position: fixed;
	height: 60px;
	width: 100vw;
	background-color: black;
	font-weight: bold;
	top: 0;
	z-index: 900;
	display: flex;
	justify-content: center;
	align-items: center;
}

header nav{
	position: relative;
	top: -6vh;
	max-height: 60px;
}

nav a {
	position: relative;
	margin: 4vw;
	color: var(--primary);
	text-decoration: none;
    font-size: .8rem;
	z-index: 999;
}

nav a:hover {
	color: var(--primaryLight);
    filter: brightness(201%);
}

header nav img{
	position: relative;
	height: 150px;
	filter: drop-shadow(0 0 1.5rem var(--primaryLight));
	z-index: 999;
}
