
header {
	position: fixed;
	height: 60px;
	width: 100vw;
	background-color: black;
	font-weight: bold;
	top: 0;
}

header nav{
	position: relative;
	top: -7vh;
	left: 7vw;
}

nav a {
	position: relative;
	margin: 4vw;
	color: var(--primary);
	text-decoration: none;
    font-size: .8rem;
	z-index: 2;
}

nav a:hover {
	color: var(--primaryLight);
    filter: brightness(201%);
}

header nav img{
	position: relative;
	height: 150px;
	filter: drop-shadow(0 0 1.5rem var(--primaryLight));
	z-index: 2;
}
